.TestSettingsBar {

  &__settings-bar {
    background-color: #ea6424;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__button {
      user-select:none;
      background-color: white;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 10px;
      font-family: "Gill Sans", sans-serif;
      font-size: 17px;
      color: black;
      text-decoration: none;

      &:hover {
        background-color: #dedede;;
      }

      &:active {
        background-color: #c5c5c5;;
      }
    }

  }
}