.NavigationBar {

  &__header {
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: #ea6424;
    color: #efefef;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;

    &__link {
      &__active {
        font-family: "Gill Sans", sans-serif;
        font-size: 17px;display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        color: #000000;
      }

      &__pending {
        font-family: "Gill Sans", sans-serif;
        font-size: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 5px;
        background-color: #d7d7d7;
        border-radius: 10px;
        color: #000000;

        &:hover{
          background-color: #dedede;
        }

        &:active {
          background-color: #c5c5c5;;
        }
      }
    }

    &__links {
      justify-content: space-around;
      display: flex;
      width: 70%;
    }
  }
}