.ChartsPage {
  background: white;
  border-radius: 20px;
  margin-top: 10px;

  &__modal {
    &__header {
      border-radius: 20px 20px 0 0;
      background-color: #ea6424;
      color: white;
      display: flex;
      justify-content: space-between;
      padding: 5px 15px 5px 15px;
    }

    &__body {
      display: flex;
      justify-content: space-evenly;
    }

    &__chart{
      display: flex;
      justify-content: center;
      flex-direction: column;

      &__header{
        text-align: center;
        font-size: 17px;

      }
    }
  }
}